extends partials/layout.pug

block content
    .heading
        h1 Register
        if msg
            h2= msg
    .register-form
        form(method="POST")
            .form-group
                label(for='username') Name
                input.form-control#name(
                    type='text'
                    name='username'
                    placeholder='User name'
                )
            .form-group
                label(for='password') Password
                input.form-control#password(
                    type='password'
                    name='password'
                    placeholder='Enter Password'
                    required
                )
            .form-group
                label(for='confirmPassword') Confirm Password
                input.form-control#confirmPassword(
                    type='password'
                    name='confirmPassword'
                    placeholder='Re-Enter Password'
                    required
                )
            .form-group
                label(for='picUrl') Enter picture url for avatar
                input.form-control#picUrl(
                    type='url'
                    name='picUrl'
                    placeholder='https://www.pictureurl.com'
                    required
                )
            .form-group
                label(for='likes') List some likes
                input.form-control#likes(
                    type='text'
                    name='likes'
                    placeholder='People, Sleeping, Going outside, Going inside'
                    required
                )
            .form-group
                label(for='dislikes') List some dislikes
                input.form-control#dislikes(
                    type='text'
                    name='dislikes'
                    placeholder='People, The cold'
                    required
                )
            .contact-form__submit.right
                a.btn.btn-danger.btn-lg(href='/') Cancel
                input.btn.btn-info.btn-lg(type='submit' value='Register' href='/registered')
